body {
    background-color: #1d1d1d;
}


.menu-btn {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    margin: 100px auto;
}

.lines {
    position: absolute;
    width: 60px;
    height: 42px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.btn-burger-l1, .btn-burger-l2, .btn-burger-l3{
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.btn-burger-l1 {
    top: 0px;
}
.btn-burger-l2 {
    top: 18px;
}
.btn-burger-l3 {
    top: 36px;
}

.lines.opened .btn-burger-l2{
    transform: translate(-50px);
    background-color: transparent;
}

.lines.opened .btn-burger-l1{
    top: 18px;
    transform: rotate(135deg);
}

.lines.opened .btn-burger-l3{
    top: 18px;
    transform: rotate(-135deg)
}
