img {
    float: left;
}

.clean-float {
    clear: left;
}

header {
    position: absolute;
    background-color: black;
    color: #fff;
    right: 0;
    left: 0;
    /* overflow: hidden; */
    /* height: 90px; */
}

header > nav {
    float: right;
    /* background-color: black; */
}

header > h1 {
    float: left;
    /* background-color: black; */
}

nav ul {
    list-style-type: none;
    line-height: 30px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}